
// Colors
$white		: rgb(255,255,255);
$tundora	: rgb(75,75,75);
$primrose	: rgb(225,240,153);
$flamingo	: rgb(241,92,92);
$codGray	: rgb(10,10,10);
$black		: rgb(0,0,0);

// Font sizes
$small 		: 1.25rem;
$medium		: 1.5rem;
$large		: 1.75rem;


// Media Query Sizes
$largeScreen		: 950px;
$mediumScreen		: 860px;
$smallScreen		: 450px;
